* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

header {
  width: 100%;
  background: linear-gradient(135deg, #ffde82 0%, #F4CE61 100%);
  margin-bottom: 5vh;
}

footer {
  width: 100%;
  background: linear-gradient(135deg, #2c2c2c 0%, #000000 100%);
  color: white;
  margin-top: 5vh;
}

/* ============================================================================== */

.app-container {
  outline: 1px solid green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.load-more {
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
.load-more:hover {
  background: rgb(221, 221, 221);
}
.load-more:active {
  transform: translateY(3px);
}

/* =================================================
  Poke Card
================================================== */
.poke_card {
  border: 1px solid blue;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  display: inline-block;
  margin: 1rem;
  padding: 0.8rem;

  width: 6.3cm;
  height: 8.8cm;
  
  background: linear-gradient(135deg, #ffde82 0%, #F4CE61 100%);
}
.poke_card:hover {
  transform: scale(1.1);
}

.poke_card_content {
  padding: 0.5rem;
  width: 100%;
  height: 100%;
}

.poke_sprite {
  border: 6px inset rgb(231, 196, 0);
  /* margin: 0.5rem; */
  padding: 0.2rem;
  width: 5cm;
  height: 3.7cm;
  background: rgb(255, 251, 239);
}

/* =================================================
  Types Backgrounds
================================================== */

.normal {
  background: #A8A878;
  background: linear-gradient(135deg, #c8c89f 0%, #A8A878 100%);
}
.fire {
  background: #F08030;
  background: linear-gradient(135deg, #fd964c 0%, #F08030 100%);
}
.grass {
  background: #78C850;
  background: linear-gradient(135deg, rgba(187,238,161,1) 0%, rgba(120,200,80,1) 100%);
}
.bug {
  background: #A8B820;
  background: linear-gradient(135deg, #c7d640 0%, #A8B820 100%);
}
.water {
  background: #6890F0;
  background: linear-gradient(135deg, #92b2fb 0%, #6890F0 100%);
}
.poison {
  background: #A040A0;
  background: linear-gradient(135deg, #c864c8 0%, #A040A0 100%);
}
.ground {
  background: #E0C068;
  background: linear-gradient(135deg, #fde08f 0%, #E0C068 100%);
}
.electric {
  background: #F8D030;
  background: linear-gradient(135deg, #ffe169 0%, #F8D030 100%);
}
.fairy {
  background: #A890F0;
  background: linear-gradient(135deg, #cbbaff 0%, #A890F0 100%);
}
.fighting {
  background: #C03028;
  background: linear-gradient(135deg, #e64941 0%, #C03028 100%);
}
.psychic {
  background: #F85888;
  background: linear-gradient(135deg, #fa7da2 0%, #F85888 100%);
}
.rock {
  background: #B8A038;
  background: linear-gradient(135deg, #e6ce65 0%, #B8A038 100%);
}
.ghost {
  background: #705898;
  background: linear-gradient(135deg, #9c80ca 0%, #705898 100%);
}
.ice {
  background:#98D8D8;
  background: linear-gradient(135deg, #c5fbfb 0%, #98D8D8 100%);
}
.dragon {
  background: #7038F8;
  background: linear-gradient(135deg, #8c5bff 0%, #7038F8 100%);
}

/* ================================================================
  Clip-path
================================================================== */
/* Trapezoid */
/* clip-path: polygon(64% 0, 100% 0, 100% 100%, 38% 100%); */

/* Triangle */
/* clip-path: polygon(0 0, 0 25%, 100% 0); */
/* clip-path: polygon(0 0, 0 100%, 100% 0); */



