/* =========================================================================================
    Summary
============================================================================================ 
    General styling

    Header

    Footer

    PokemonList

    PokemonCard

    Types Background

    PokemonDetails
*/


/* ==============================================================
    General styling
============================================================== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:any-link {
  text-decoration: none;
  color: #000000;
}

.app-container {
  height: 100%;
  outline: 1px solid #008000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 15vh;
}

h4 {
  font-size: 1rem;
}
h1::first-letter, h2::first-letter, h3::first-letter, h4::first-letter {
  text-transform: uppercase;
}

.btn-test {
  margin: 0.5rem;
  padding: 1rem 2rem;
}

/* ==============================================================
    Header
============================================================== */
header {
  background: linear-gradient(135deg, #ffde82 0%, #F4CE61 100%);
  margin-bottom: 5vh;
}
.home_title {
  font-size: 3rem;
}
.home_title:hover {
  transform: scale(1.1);
}

/* ==============================================================
    Footer
============================================================== */
footer {
  background: linear-gradient(135deg, #2c2c2c 0%, #000000 100%);
  color: #ffffff;
  margin-top: 5vh;
}

/* ==============================================================
  PokemonList
============================================================== */
.all-container {
  display: flex;
  flex-wrap: wrap;
}

.load-more-container {
  display: flex;
  justify-content: center;
}
.load-more {
  margin-top: 3rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: large;
}
.load-more:hover {
  background: rgb(221, 221, 221);
}
.load-more:active {
  transform: translateY(3px);
}

/* =================================================
  PokemonCard
================================================== */
.poke_card {
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  display: inline-block;
  margin: 1rem;
  padding: 0.8rem;

  width: 14.25rem;
  height: 20rem;
  
  background: linear-gradient(135deg, #ffde82 0%, #F4CE61 100%);
}
.poke_card:hover {
  transform: scale(1.1);
}

.poke_card_content {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  width: 100%;
  height: 100%;
}

.pokeId {
  margin: 0 0.5rem 0.5rem 0.5rem;
  font-size: 1.1rem;
}

.poke_sprite {
  border: 6px inset rgb(231, 196, 0);
  justify-self: center;
  margin: 0 auto;
  padding: 0.2rem;
  width: 11rem;
  height: 8rem;
  background: rgb(255, 251, 239);
  
}

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.name {
  text-align: center;
  font-size: 1.1rem;
}
.type, .typeb {
  border: 1px solid rgb(179, 179, 179);
  border-radius: 6px;
  display: inline-block;
  margin: 0 auto;
  padding: 0.1rem 1.2rem;
  box-shadow: 2px 2px 2px 1px gray;
} 

/* =================================================
  Types Backgrounds
================================================== */
.normal {
  background: linear-gradient(135deg, #c8c89f 0%, #A8A878 100%);}
.fire {
  background: linear-gradient(135deg, #fd964c 0%, #F08030 100%);}
.grass {
  background: linear-gradient(135deg, #bbeea1 0%, #78c850 100%);}
.bug {
  background: linear-gradient(135deg, #c7d640 0%, #A8B820 100%);}
.water {
  background: linear-gradient(135deg, #92b2fb 0%, #6890F0 100%);}
.poison {
  background: linear-gradient(135deg, #c864c8 0%, #A040A0 100%);}
.ground {
  background: linear-gradient(135deg, #fde08f 0%, #E0C068 100%);}
.electric {
  background: linear-gradient(135deg, #ffe169 0%, #F8D030 100%);}
.fairy {
  background: linear-gradient(135deg, #cbbaff 0%, #A890F0 100%);}
.fighting {
  background: linear-gradient(135deg, #e64941 0%, #C03028 100%);}
.psychic {
  background: linear-gradient(135deg, #fa7da2 0%, #F85888 100%);}
.rock {
  background: linear-gradient(135deg, #e6ce65 0%, #B8A038 100%);}
.ghost {
  background: linear-gradient(135deg, #9c80ca 0%, #705898 100%);}
.ice {
  background: linear-gradient(135deg, #c5fbfb 0%, #98D8D8 100%);}
.dragon {
  background: linear-gradient(135deg, #8c5bff 0%, #7038F8 100%);}
.flying {
  background: linear-gradient(135deg, #e6e6e6 0%, #bdad81 100%);}
.steel {
  background: linear-gradient(135deg, #f6f6f6 0%, #c0c0c0 100%);}

/* =================================================
  PokemonDetails
================================================== */
.pokemon_details {
  background: floralwhite;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 90%;
  height: 65vh;

  box-shadow: 2px 3px 5px 2px grey;
}

/* ==================================================== */
.poke_portrait {
  grid-area: 1 / 1 / 3 / 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
  box-shadow: 2px 3px 5px 2px grey;
}
#poke_tag {
  display: flex;
  font-size: 1.5rem;
}
.portrait_img {
  width: 300px;
  height: 300px;
}
.portrait_name {
  font-size: 2rem;
}

/* ===================================================== */
.poke_infos {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}
#portrait_gen {
  text-transform: uppercase;
}
.pokeType {
  width: 50%;
  padding: 0.2rem;
}

/* ===================================================== */
.poke_stats {
  grid-area: 1 / 3 / 2 / 4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}
.rect {
  background: linear-gradient(135deg, #ffde82 0%, #F4CE61 100%);
  margin-bottom: 0.2rem;
}

/* ==================================================== */
.poke_evolutions {
  grid-area: 2 / 2 / 3/ 4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}
.evolutions {
  display: flex;
  justify-content: space-evenly;
}
.evo_one, .evo_two, .evo_three {
  margin: 1rem 0rem 1rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.evo_one > img, .evo_two > img, .evo_three > img {
  margin-bottom: 0.5rem;
  padding: 1rem;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 2px 3px 5px 2px grey;
}
.evo_one:hover, .evo_two:hover, .evo_three:hover {
  transform: scale(1.1);
}
/* PrevRandNext container ========================================================================== */
.prevRandNext_container {
  outline: 1px solid black;
  display: flex;
  justify-content: space-around;
  margin: 1rem;
  padding: 0.5rem;
}

/* Random pokemon component ========================================================================== */
.random_pokemon_component {
  outline: 5px solid blue;
  margin: 0.5rem;
  background: deepskyblue;
}

/* Next pokemon component ========================================================================== */
.next_pokemon_component {
  outline: 5px solid red;
  margin: 0.5rem;
  background: tomato;
}

/* Previous pokemon component ========================================================================== */
.previous_pokemon_component {
  outline: 5px solid green;
  margin: 0.5rem;
  background: chartreuse;
}




