.App {
  text-align: center;
}

/* ============================================================================== */
.app-container {
  outline: 1px solid green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.all-container {

}

.load-more {
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
.load-more:hover {
  background: rgb(221, 221, 221);
}
.load-more:active {
  transform: translateY(3px);
}

.poke_card {
  border: 1px solid blue;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  display: inline-block;
  margin: 1rem;
  padding: 1rem;
}

.poke_sprite {
  border: 1px solid red;
  margin: 0.5rem;
  padding: 0.2rem;
  width: 100px;
  height: 100px;
}






